$w: #ffffff;
$gr: #b9b9b9;
$b: #000000;

/* fonts */
%fnormal {
    font-family: 'Muli', sans-serif;
}
%ftitle {
    font-family: 'Bebas Neue', cursive;
}
%fwelcome {
    font-family: 'Courgette', cursive;
}
/* random globals */
%space {
    margin: 0;
    padding: 0;
}
%uc {
    text-transform: uppercase;
}
%ts {
    text-shadow: 2px 2px 3px $gr; 
}
%lst {
    list-style-type: none;
}
%tac {
    text-align: center;
}
/* graph stuff */
%graph {
    margin-top: 50px;
    width: 100%;
}
%graph-bar {
    background-color: $b;
    color: $w;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid $w;
    box-shadow: 0px 0px 10px 0px $w;
    @extend %ts;
}