$w: #ffffff;
$gr: #b9b9b9;
$xlgr: #808080;
$lgr: #383838;
$b: #000000;

/* fonts */
%fnormal {
    font-family: 'Muli', sans-serif;
}
%ftitle {
    font-family: 'Bebas Neue', cursive;
}
%fwelcome {
    font-family: 'Courgette', cursive;
}
%fbutton {
    font-family: 'Rubik', sans-serif;
}
/* random globals */
%space {
    margin: 0;
    padding: 0;
}
%uc {
    text-transform: uppercase;
}
%ts {
    text-shadow: 2px 2px 3px $gr; 
}
%tsb {
    text-shadow: 2px 2px 3px $b; 
}
%lst {
    list-style-type: none;
}
%tac {
    text-align: center;
}
%details {
    height: 0;
    transition: height 0.3s ease;
}
/* graph stuff */
%graph {
    margin-top: 50px;
    width: 100%;
}
%graph-bar {
    background-image: url('../media/carbonfiber.png');
    color: $w;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid $w;
    @extend %ts;
}
%cogmenu {
    position: fixed;
    border: none;
    background: transparent;
    color: $w;
    font-size: 30px;
    outline: none;
}